/* add your CSS here */
body {
  width:325px;
}
ul {
  list-style-type: none;
  padding-left:0;
}
.card {
  box-shadow: 5px 5px 5px 0px rgba(211,211,211,1);
}
img {
  margin: 5px auto 15px;
}
.border {
  border: solid 1px #d4d4d4;
}
div {
  padding: 10px;
}

.strong {
  font-weight: bold;
}
